$primary-color-red: #E94446;
$primary-light-purple: #B991F4;
$primary-pink-purple: #F979C6;
$primary-dime-purple: #6D4364;
$primary-medium-dark-purple: #282A36;
$primary-light-dark-purple: #6472A6;
$primary-color-purple: #262542;