$primary-color-: #E94446;
$primary-color-orange: #FF5330;
$primary-light-orange: #FD9D8B;
$primary-lighter-orange: #FBE0DA;
$primary-dime-purple: #6D4364;
$primary-medium-dark-purple: #282A36;
$primary-light-dark: #B9B9B9;
$primary-color-dark: #2B2B2B;
$primary-color-white: #E7E3DD;