

::before, ::after,
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
  }
  
  :root, html, body {
    font-family: "Roboto", 'Ubuntu', 'Open Sans', 'Helvetica Neue', sans-serif ;
    line-height: 1.7;
    background-color: #E7E3DD;
    text-transform: capitalize;
  }
  
  body {
   display: block;
  }
  
  ul {
   list-style: none;
  }
  å
  li ol {
    list-style: none;
  }
  å
  button ,  a {
    text-decoration: none;
  }