@use "../..//Sass/color" as color;

.ResumeView {
    
display: flex;
flex-direction: column;
justify-content: center;

    
 
}

.resume-view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem  370px;
    margin-top: 80px;
    border-top: 1.6px solid color.$primary-light-orange;
    border-bottom: 1.6px solid color.$primary-light-orange;

    &>h4  {
        font-size: 1.2rem;
        font-weight: bold;

    }

    &>button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        &>svg {
            font-size: 2rem;
        }
    }

}


.view-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 80px 100px;
    @media(max-width:600px) {
   
       padding: 15px 20px 100px;
   }
    
      
    &>img {
      object-fit: cover/center;
      display: block;
      height: 100%;
      width: 600px;
      border-radius: .8rem;

    }
}