@use "../../Sass/color" as color;


.header-wrapper {
  display: flex;
  flex-direction: column;
    box-shadow: 0px 0px 5px 0px lighten($color: #000000, $amount: 70%);
    background: color.$primary-color-dark; /* Initially transparent */
    backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
  width: 100%;    
position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  z-index: 9;
  


    &>.header-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 80px;
      // border: 1px solid #fff;
      @media(max-width:920px) {
        padding: 1rem 20px;
      }
    }
}

nav {
  display: flex;
  align-items: center;
   gap: 2rem;
   @media(max-width:600px){
     gap: none;
   }
}

.header-menu-btn {
  display: flex;
  align-items: center;
  @media(max-width:600px) {
    margin-right: 2rem;

  }
  padding: 4px;
  border-radius: 100%;
  border: none;
  color: #fff;
  background-color: color.$primary-light-dark;
  cursor: pointer;
  display: none;
  @media(max-width:600px) {
    display: flex;
  }

  &>svg {
    font-size: 25px;
    padding: .2rem;
    background-color: color.$primary-color-orange;
    border-radius: 100%;
  }
  
}

.brand-name-logo{
  display: flex;
  align-items: center;


    &>h4 {
      font-size: 1rem;
      color: #fff;
    }
}



.nav-items {
    display: flex;
    gap: .6rem;
    padding: 0 10px;
    @media(max-width:600px){
       display: none;
    }

    a {
      position: relative;
      display: inline-block; /* Changed from flex to inline-block */
      padding: 0 10px;
      text-decoration: none; 
      color: #fff; /* Added color for the text */
      font-size: 1rem;
      font-weight: 600;
      
    }
    
    a::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 0%;
      left: 51%;
      bottom: -6px;
      transform: translateX(-52%); /* Center horizontally */
      background-color: color.$primary-color-orange; /* Replaced color.$primary-color-red with a direct color */
      transition: width 0.3s ease; /* Added transition for smoother animation */
    }
    

    a.active::after,
    a:focus::after {
      width: 60%;
      background-color:color.$primary-color-orange;; /* Changed to red when active */
      color: color.$primary-color-orange;
    }

}



.header-hire {
  display: flex;
  margin-right: 1rem;



    &>.button {
      position: relative;
      width: 200px;
      @media(max-width:600px) {
        width: 170px;
      }
      height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      border: 1.5px solid color.$primary-color-orange;
      background-color: transparent;
      border-radius: .8rem;
      overflow: hidden;
      transition: all 200ms ease-in;
      cursor: pointer;
      transition: all 200ms ease-in;
      
  
    
    }


    
    .button, .button__icon, .button__text {
      transition: all 0500ms ease-in-out;
    }
    
    .button .button__text {
      transform: translateX(22px);
      color: #fff;
      font-size: 1rem;
      @media(max-width:600px) {
        font-size: 0.8rem;
      }
      font-weight: 400;
      text-transform: uppercase;
    }
    
    .button .button__icon {
      position: absolute;
      transform: translateX(160px);
      @media(max-width:600px) {
        transform: translateX(130px);

      }
      height: 100%;
      width: 40px;
    
      background-color: color.$primary-color-orange;
      display: flex;
      align-items: center;
      justify-content: center;

    }
    
    .button__icon > svg {
      font-size: 5rem;
      width: 25px;

      color: #fff;
    }
    
    .button:hover {
      background: color.$primary-color-orange;
    }
    
    .button:hover .button__text {
      color: transparent;
    }
    
    .button:hover .button__icon {
      width: 148px;
      transform: translateX(25px);
    }
    
    .button:active .button__icon {
      background-color: darken(color.$primary-color-orange, $amount: 20%);
    }
    
    .button:active {
      border: 1px solid darken(color.$primary-color-orange, $amount: 20%);
    }




  
 
  


  
}


.header-hire:hover> svg {
  transform: translateX(5px);
  /* Slide the SVG to the right */

}