@use "../../Sass/color" as color;


.header-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0px 0px 5px 0px lighten($color: #000000, $amount: 70%);
    background: rgba(0, 0, 0, 0); /* Initially transparent */
    backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
    z-index: 9;


    &>.header-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 80px;
      // border: 1px solid #fff;
      @media(max-width:920px) {
        padding: 1rem 20px;
      }
    }
}


.header-cancle-btn {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 100%;
  border: none;
  color: #000;
  background-color: color.$primary-light-dark;
  cursor: pointer;

  &>svg {
    font-size: 30px;
    padding: .2rem;
    background-color: color.$primary-color-orange;
    border-radius: 100%;
  }
}


.header-hire {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.53em 2.53em;
  border: 2px solid color.$primary-color-orange;
  border-radius: .8rem;
  color: #000;
  background-color: transparent;
  transition: all 200ms ease-in;
  overflow: hidden;
    cursor: pointer;
    transition: all 200ms ease-in;

    &>span {
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    &>svg {
      position: relative;
      display: inline-block;
      overflow: hidden;
      width: 1.5em;
      height: 1.5em;
      margin-bottom: -0.275em;
      margin-left: 0.6em;
      transition: all 200ms ease-in;
    }

    &:hover {
      color: #fff;
      border: 2px solid transparent;
      background-color: darken(color.$primary-color-orange, $amount: 20%);
    }
  
    &:active {
      color: #fff;
      background-color: darken(color.$primary-color-orange, $amount: 20%);
    }
  
    &:hover>svg {
      transform: translateX(5px);
      /* Slide the SVG to the right */
    
    }
  
  


  
}


.header-hire:hover> svg {
  transform: translateX(5px);
  /* Slide the SVG to the right */

}

.nav-items {
    display: flex;
    gap: .6rem;
    padding: 0 10px;
    @media(max-width:600px){
       display: none;
    }

    a {
      position: relative;
      display: inline-block; /* Changed from flex to inline-block */
      padding: 0 10px;
      text-decoration: none; 
      color: #000; /* Added color for the text */
      font-size: 1rem;
      font-weight: 600;
      
    }
    
    a::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 0%;
      left: 51%;
      bottom: -6px;
      transform: translateX(-52%); /* Center horizontally */
      background-color: color.$primary-color-orange; /* Replaced color.$primary-color-red with a direct color */
      transition: width 0.3s ease; /* Added transition for smoother animation */
    }
    

    a.active::after,
    a:focus::after {
      width: 60%;
      background-color:color.$primary-color-orange;; /* Changed to red when active */
      color: color.$primary-color-orange;
    }

}


