@use "../..//Sass/color" as color;



.LandingPage {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  padding: 80px 80px;

  @media(max-width:600px) {
    padding: 30px 20px 80px;
  }

  gap: 2rem;


}







.inner-landingpage {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  @media(max-width:600px) {
    flex-direction: column;
  }

}




/// 
/// 
/// 



.hero-left-container {
  display: flex;
  flex-direction: column;
  width: 60.8%;
  @media(max-width:600px) {
    width: 100%;
  }

  &>.hero-name {
    display: flex;
    flex-direction: column;
    animation: hero-name-animate 500ms ease-in forwards;
    transform: translateX(-40px);
    transition: all  500ms ease-in;



    &>h5 {
      color: #000;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 0px;
      letter-spacing: -1.5px;
      margin-bottom: 1rem;
    }


    &>h3 {
      display: inline-block;
      line-height: 60px;
      font-size: 3.5rem;
      @media(max-width:600px) {
        font-size: 1.8rem;
        line-height: 40px;
      }
      font-weight: 400;
      color: #000;
      margin-top: 1rem;
      letter-spacing: -1.5px;
      text-transform: none;
    }
    
  }

  
  @keyframes hero-name-animate {
    from {
      transform: translateX(40px);
    }
    to {
      transform: translateX(0);
    }
  }

  


}



.hero-left-button-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;

  @media(max-width:600px) {
    flex-direction: column;
  }
  
}


///////
/// 
/// 
/// 
/// 



.main-button  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.53em 2.53em;
  border: 2px solid color.$primary-color-orange;
  border-radius: .8rem;
  background-color: transparent;
  transition: all 200ms ease-in;
  overflow: hidden;
  cursor: pointer;
  color: #000;
  @media(max-width:600px) {
    width: 100%;
  }


  .w-inline-block  {
    max-width: 100%;
    display: inline-block;
  }
  

  &>span {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &>svg {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
    height: 1.5em;
    margin-bottom: -0.275em;
    margin-left: 0.6em;
    transition: all 200ms ease-in;
  }

  &:hover {
    color: #fff;
    border: 2px solid transparent;
    background-color: darken(color.$primary-color-orange, $amount: 20%);
  }

  &:active {
    color: #fff;
    background-color: darken(color.$primary-color-orange, $amount: 20%);
  }

  &:hover>svg {
    transform: translateX(5px);
    /* Slide the SVG to the right */
  
  }



}







/////
/// 
/// /
/// 
/// 



.secondary-button  {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.03em;
  margin-bottom: 0.5em;
  margin-left: 2.03em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @media(max-width:600px) {
    width: 100%;
  }

  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }




 &:hover svg {
  transform: translateX(0);
}

&:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 2px;
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 0px;
  font-size: 1.1rem;
  line-height: 1.55;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

&:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

&>svg {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 1.5em;
  height: 1.5em;
  margin-bottom: -0.275em;
  margin-left: 0.6em;
  color: #000;
  transform: translateX(-8px);
  transition: all 500ms ease-in;
 }

}



//////
/// 
/// 
/// 
/// 
/// 






.hero-right-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  @media(max-width:600px) {
    width: 100%;
  }
    

    &>.img-parent  {
      position: relative;
      display: flex;
      overflow: hidden;
      width: 100%;
      height: 100%;
      margin-right: auto;
      margin-left: auto;
      justify-content: center;
      align-items: center;
    }

    &>.img-parent.is-hero {
      height: 38rem;
    } 

    .img-child-1.img-1 {
      background-image: url(../../Assets/image/whatsApp.jpeg);
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      }
    
    .img-child-1 {
      position: relative;
      width: 100%;
      height: 100%;
      }


      .card-whipe-heroimg  {
        position: absolute;
        left: 0%;
        top: 0%;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
      }


      .bg-cream-shade {
        background-color: #e7e2dc;
        position: absolute;
        width: 100%;
        height: 0%; /* Start with height 0% */
        bottom: 0; /* Start from the bottom */
        left: 0;
        animation: coverImage 2s forwards; /* Animation with duration of 3 seconds */
        transition: all 500ms ease-in;
      }
    

      @keyframes coverImage {
        from {
          height: 100%; /* Start from height 0% */
        }
        to {
          height: 0%; /* End at height 100% */
        }
      }
    






}






///
///
///
/// 
/// 
/// 





.hero-left-scroll {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 2rem; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  margin-top: 4rem;
  @media(max-width:600px) {
    display: none;
  }


  &>.vertical-text {
    writing-mode: vertical-rl;
    font-size: 1rem; /* Adjust the font size as needed */
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  &>.animated-line {
    width: 1.4px;
    height: 60px;
    background-color: black;
    margin-top: 2.5rem; /* Adjust this margin to control the space below the line */
    animation: slide-fade 2s infinite;
  }
}



@keyframes slide-fade {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}






